0 4 * * * /usr/bin/find /var/www/html/data/ -type f -regex /var/www/html/data/[^/]+/files/.* -ctime +30 | /usr/bin/sed 's|/var/www/html/data/||' | /usr/bin/xargs --max-args 1 --no-run-if-empty /var/www/html/occ files:delete --force
